.dashboard{
    /* display: flex; */
    
    /* margin-top: 30px; */
    /* flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto; */
    
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
  margin-left: 15%;
  margin-bottom: 1%;
  width: auto;
  height: auto;
}


#bg {
    position: fixed; 
    /* top: 0; 
    left: 0;  */
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }


  .container {
    position: relative;
    text-align: center;
    color: white;
    /* width: 100vw; */
    /* height: 100vh; */
  }

  .centered {
    position: absolute;
    font-size: 50px;
    color: aqua;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .dialog-enter {
    opacity: 0.01;
    transform: scale(1.1);
  }
  
  .dialog-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 1000ms;
  }

  .bg-image {
    position: absolute;
      z-index: 1;
    /* The image used */
    background-image: url("../images/restaurant-1.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }