.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
  margin-left: 1%;
  margin-bottom: 1%;
  text-align: center;
}

.buttonreset {
  background-color: rgb(247, 34, 6);
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  font-size: 16px;
  margin: 4px 10px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.reset {
  border-radius: 10px;
}
